# ==============================
# Python
# ==============================
__pycache__/
*.py[cod]
*$py.class
*.so
*.egg-info/
dist/
build/

# ==============================
# Virtual Environment
# ==============================
.venv/
venv/
env/

# ==============================
# Model Weights
# ==============================
*.pth
*.pt
*.ckpt
artifacts/
models/

# ==============================
# Dataset
# ==============================
data/
*.zip
*.tar
*.gz

# ==============================
# Streamlit
# ==============================
.streamlit/

# ==============================
# Jupyter Notebooks
# ==============================
.ipynb_checkpoints/

# ==============================
# Logs
# ==============================
*.log

# ==============================
# OS Files
# ==============================
.DS_Store
Thumbs.db

# ==============================
# IDE / Editor
# ==============================
.vscode/
.idea/


# project structure
project_structure.md